<!DOCTYPE html>
<html>
<head>
	<title>Sample vue.js page</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.smooch.io/smooch.min.js">
	</script>
	   <script>
      Smooch.init({ appToken: '76aa0st1c51if9jdg983la59d' });
    </script>
    
</head>
<body>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<div id="guestbook-app">
		<div class="form">
		<label>Name:</label>
			<input class="form-control" type="text" v-model="newEntry.name">
			<hr>
			<label>Text:</label>
			<textarea class="form-control" rows="10" cols="150" v-model="newEntry.text"></textarea>
			<hr>
			<button v-on:click="addNewEntry()">Add new entry</button>
			<!-- <input type="button" v-on:click="addNewEntry()"> -->			
		</div>
		<ul class="entries-list">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
				<li v-for="entry in entries">
				<p>{{entry.text}}</p>
				<small>Posted by {{entry.user}}</small>
				</li>  
				</div>
			</div>
		</ul>	
		</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
	<script>
		new Vue({
			el: '#guestbook-app',
			data: {
				newEntry: {
					name: '',
					text: '',
				},
				entries: [
					{
					text: "hello",
					user: "Tessie",
					},
					{
					text: "world ",
					user: "Janne",
					}
				],
			},
			methods: {
				addNewEntry() {
					this.entries.push({
						text: this.newEntry.text,
						user: this.newEntry.name
					})
				}
			}
		});
	</script>

</body> 
</script>
</html>